host_id,cn,dns_sans,ip_sans
manager,ip-10-0-3-31.us-east-2.compute.internal,ip-10-0-3-31.us-east-2.compute.internal;ip-10-0-3-31,10.0.3.31
agent,ip-10-0-11-156.us-east-2.compute.internal,ip-10-0-11-156.us-east-2.compute.internal;ip-10-0-11-156,10.0.11.156
