# hostname,cn,san_dns,san_ip
# san_dns and san_ip can contain pipe-separated values. The hostname and CN are automatically included as DNS SANs.
ip-10-0-0-64.us-east-2.compute.internal,ip-10-0-0-64.us-east-2.compute.internal,ip-10-0-0-64.us-east-2.compute.internal|cm.example.com,10.0.0.64
ip-10-0-8-197.us-east-2.compute.internal,ip-10-0-8-197.us-east-2.compute.internal,ip-10-0-8-197.us-east-2.compute.internal,10.0.8.197
